<div class="w-96">
  <form [formGroup]="form" class="flex flex-col">
    <div class="text-xl text-center font-bold mb-7">{{data.modalTitle}}</div>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Название:</mat-label>
      <input matInput [readonly]="!edited" placeholder="Название" formControlName="title">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Дата выполнения:</mat-label>
      <input matInput [readonly]="!edited" [ngxMatDatetimePicker]="picker" formControlName="completedAt">
      <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Описание:</mat-label>
      <textarea matInput [readonly]="!edited" placeholder="Описание:" formControlName="description"></textarea>
    </mat-form-field>

   <div class="flex flex-col gap-y-4">
    <button *ngIf="edited" (click)="addCard()" [disabled]="!formIsReady" mat-flat-button color="primary">Добавить</button>
    <button (click)="close()" mat-stroked-button color="warn">Отмена</button>
   </div>
  </form>
</div>