<div class="w-96">
  <form [formGroup]="form" class="flex flex-col">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Название:</mat-label>
      <input matInput placeholder="Название" formControlName="title">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Дата выполнения:</mat-label>
      <input matInput [ngxMatDatetimePicker]="picker"  formControlName="completedAt">
      <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>

    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Описание:</mat-label>
      <textarea matInput placeholder="Описание:" formControlName="description"></textarea>
    </mat-form-field>

    <button (click)="addCard()" mat-flat-button color="primary">Добавить</button>
  </form>
</div>